* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 2;
  color: #000;
}
.header {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.header-nav {
  margin-left: auto;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
}
.section-title {
  width: 50%;
  overflow-x: hidden;
  margin: 0 auto;
}
.title:before,
.title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  background: #000;
  border: solid #000;
  border-width: 0 10px;
}
.title:before {
  margin-left: -100%;
}
.title:after {
  margin-right: -100%;
}
.header-search_box {
  position: relative;
  width: 350px;
}

.header-search_box input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 25px;
  outline: none;
  transition: all 0.30s ease-in-out;
  border: 1px solid #DDDDDD;
}

input:focus {
  box-shadow: 0 0 5px rgba(167, 167, 167, 0.63);
  border: 1px solid rgb(105, 105, 105);
}

.header-search_box__item {
  border: none;
  background: transparent;
  position: absolute;
  cursor: pointer;
  top: 5%;
  right: 10%;
  transition: 1s;
}

.header-search_box__item:hover {
  color: orange;
}
.header-search_box__item::before{
  content: "\f002";
  font-family: FontAwesome;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.493);
}
.gallery-photoes{
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 20px;
}

.footer-content__github {
  height: 40px;
}
.footer-content__github span {
  margin: 0px 10px 0;
}
.footer-content__github a {
  color: #000;
  text-decoration: none;
  padding: 0 20px;
  transition: 0.3s;
}
.footer-content__github a:hover {
  color: #bdae82;
}

.footer-content__rss {
  width: 135px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./svg/rss.svg");
  transition: 0.3s;
}

.footer-content__rss:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
